name: Library Cache Builder

on:
  push:
    branches: [ main, symengine ]
  workflow_dispatch:

jobs:
  libraries:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Windows'
            os: windows-latest
            build_shared_libs: 'ON'
            archive_name: 'Windows'
          - name: 'Linux'
            os: ubuntu-latest
            build_shared_libs: 'ON'
            archive_name: 'Linux'
          - name: 'macOS (Intel)'
            os: macos-15-intel
            build_shared_libs: 'ON'
            archive_name: 'macOS-Intel'
          - name: 'macOS (ARM)'
            os: macos-latest
            build_shared_libs: 'ON'
            archive_name: 'macOS-ARM'
          - name: 'WASM'
            os: macos-latest
            emconfigure: 'emconfigure'
            emcmake: 'emcmake'
            emmake: 'emmake'
            build_shared_libs: 'OFF'
            archive_name: 'WASM'
    env:
      BUILDCACHE_ACCURACY: STRICT
      BUILDCACHE_COMPRESS_FORMAT: ZSTD
      BUILDCACHE_DEBUG: -1
      BUILDCACHE_LOG_FILE: ""
      FAST_FLOAT_VERSION: 8.1.0
      GMP_VERSION: 6.3.0
      LIBXML2_VERSION: 2.9.10
      MPFR_VERSION: 4.2.2
      SYMENGINE_VERSION: 0.14.0
      ZLIB_VERSION: 1.2.12
    steps:
      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
      - name: Install buildcache
        uses: opencor/buildcache-action@v1
        with:
          cache_key: ${{ matrix.name }}
      - name: Configure MSVC (Windows)
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1
      - name: Install Conan (Windows)
        if: ${{ runner.os == 'Windows' }}
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true
      - name: Install Emscripten (WASM)
        if: ${{ matrix.name == 'WASM' }}
        run: |
          brew update
          brew install --overwrite emscripten
      - name: Build and archive zlib
        run: |
          git clone -b v${{ env.ZLIB_VERSION }} --depth 1 https://github.com/cmlibs-dependencies/zlib.git
          cd zlib
          python3 -c "with open('zutil.h') as f: content = f.read(); open('zutil.h', 'w').write('\n'.join(line for line in content.split('\n') if 'define fdopen(fd,mode) NULL' not in line))"
          ${{ matrix.emcmake }} cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{ runner.temp }}/zlib -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }} -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
          cmake --build build
          cmake --install build
          tar -czf ${{ runner.temp }}/zlib-${{ matrix.archive_name }}.tar.gz -C ${{ runner.temp }} zlib
      - name: Build and archive libxml2
        run: |
          git clone -b v${{ env.LIBXML2_VERSION }} --depth 1 https://github.com/cmlibs-dependencies/libxml2.git
          cd libxml2
          ${{ matrix.emcmake }} cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{ runner.temp }}/libxml2 -DZLIB_DIR=${{ runner.temp }}/zlib/lib/cmake/ZLIB-${{ env.ZLIB_VERSION }} -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }} -DLIBXML2_WITH_DEBUG=OFF -DLIBXML2_WITH_ICONV=OFF -DLIBXML2_WITH_LEGACY=OFF -DLIBXML2_WITH_LZMA=OFF -DLIBXML2_WITH_MODULES=OFF -DLIBXML2_WITH_PROGRAMS=OFF -DLIBXML2_WITH_PYTHON=OFF -DLIBXML2_WITH_TESTS=OFF -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
          cmake --build build
          cmake --install build
          tar -czf ${{ runner.temp }}/libxml2-${{ matrix.archive_name }}.tar.gz -C ${{ runner.temp }} libxml2
      - name: Build and archive GMP, MPFR, and SymEngine (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          conan profile detect --force
          # Release builds.
          conan install --requires=fast_float/${{ env.FAST_FLOAT_VERSION }} --build=missing --settings=build_type=Release --output-folder="${{ runner.temp }}\fast_float_cmake_release" -g CMakeDeps
          conan install --requires=gmp/${{ env.GMP_VERSION }} --build=missing --settings=build_type=Release --options symengine/*:shared=True --output-folder="${{ runner.temp }}\gmp_cmake_release" -g CMakeDeps
          conan install --requires=mpfr/${{ env.MPFR_VERSION }} --build=missing --settings=build_type=Release --options symengine/*:shared=True --output-folder="${{ runner.temp }}\mpfr_cmake_release" -g CMakeDeps
          conan install "${{ github.workspace }}/conan-symengine" --build=missing --settings=build_type=Release --options symengine/*:shared=True --options symengine/*:mpfr=True --output-folder="${{ runner.temp }}\symengine_cmake_release"
          dir -s "${{ runner.temp }}\symengine_cmake_release"
          Move-Item -Path "${{ runner.temp }}\symengine_cmake_release\build-release\conan\*" -Destination "${{ runner.temp }}\symengine_cmake_release" -Force
          Remove-Item -Path "${{ runner.temp }}\symengine_cmake_release\build-release" -Recurse -Force
          conan install "${{ github.workspace }}/conan-symengine" --build=missing --settings=build_type=Release --options symengine/*:shared=True --options symengine/*:mpfr=True --deployer=full_deploy --deployer-folder="${{ runner.temp }}\symengine_full_deploy_release"
          # Debug builds.
          conan install --requires=fast_float/${{ env.FAST_FLOAT_VERSION }} --build=missing --settings=build_type=Debug --output-folder="${{ runner.temp }}\fast_float_cmake_debug" -g CMakeDeps
          conan install --requires=gmp/${{ env.GMP_VERSION }} --build=missing --settings=build_type=Debug --options symengine/*:shared=True --output-folder="${{ runner.temp }}\gmp_cmake_debug" -g CMakeDeps
          conan install --requires=mpfr/${{ env.MPFR_VERSION }} --build=missing --settings=build_type=Debug --options symengine/*:shared=True --output-folder="${{ runner.temp }}\mpfr_cmake_debug" -g CMakeDeps
          conan install "${{ github.workspace }}/conan-symengine" --build=missing --settings=build_type=Debug --options symengine/*:shared=True --options symengine/*:mpfr=True --output-folder="${{ runner.temp }}\symengine_cmake_debug"
          dir -s "${{ runner.temp }}\symengine_cmake_debug"
          Move-Item -Path "${{ runner.temp }}\symengine_cmake_debug\build-debug\conan\*" -Destination "${{ runner.temp }}\symengine_cmake_debug" -Force
          Remove-Item -Path "${{ runner.temp }}\symengine_cmake_debug\build-debug" -Recurse -Force
          conan install "${{ github.workspace }}/conan-symengine" --build=missing --settings=build_type=Debug --options symengine/*:shared=True --options symengine/*:mpfr=True --deployer=full_deploy --deployer-folder="${{ runner.temp }}\symengine_full_deploy_debug"
          # Package GMP (release).
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\gmp\Release"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\gmp\${{ env.GMP_VERSION }}\Release\x86_64\include" -Destination "${{ runner.temp }}\gmp\Release\include"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\gmp\${{ env.GMP_VERSION }}\Release\x86_64\lib" -Destination "${{ runner.temp }}\gmp\Release\lib"
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\gmp\Release\lib\cmake\gmp"
          Copy-Item -Path "${{ runner.temp }}\gmp_cmake_release\*.cmake" -Destination "${{ runner.temp }}\gmp\Release\lib\cmake\gmp"
          sed -i 's|set(gmp_PACKAGE_FOLDER_RELEASE ".*")|set(gmp_PACKAGE_FOLDER_RELEASE "${CMAKE_CURRENT_LIST_DIR}/../../..")|' ${{ runner.temp }}/gmp/Release/lib/cmake/gmp/gmp-release-x86_64-data.cmake
          sed -i 's|set(gmp_LIBRARIES_RELEASE gmp::gmp)|set(gmp_LIBRARIES_RELEASE ${gmp_gmp_libgmp_LIB_DIRS_RELEASE}/gmp.lib)|' ${{ runner.temp }}/gmp/Release/lib/cmake/gmp/gmp-Target-release.cmake
          # Package GMP (debug).
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\gmp\Debug"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\gmp\${{ env.GMP_VERSION }}\Debug\x86_64\include" -Destination "${{ runner.temp }}\gmp\Debug\include"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\gmp\${{ env.GMP_VERSION }}\Debug\x86_64\lib" -Destination "${{ runner.temp }}\gmp\Debug\lib"
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\gmp\Debug\lib\cmake\gmp"
          Copy-Item -Path "${{ runner.temp }}\gmp_cmake_debug\*.cmake" -Destination "${{ runner.temp }}\gmp\Debug\lib\cmake\gmp"
          sed -i 's|set(gmp_PACKAGE_FOLDER_DEBUG ".*")|set(gmp_PACKAGE_FOLDER_DEBUG "${CMAKE_CURRENT_LIST_DIR}/../../..")|' ${{ runner.temp }}/gmp/Debug/lib/cmake/gmp/gmp-debug-x86_64-data.cmake
          sed -i 's|set(gmp_LIBRARIES_DEBUG gmp::gmp)|set(gmp_LIBRARIES_DEBUG ${gmp_gmp_libgmp_LIB_DIRS_DEBUG}/gmp.lib)|' ${{ runner.temp }}/gmp/Debug/lib/cmake/gmp/gmp-Target-debug.cmake
          # Effectively package GMP.
          tar -czf "${{ runner.temp }}/gmp-${{ matrix.archive_name }}.tar.gz" -C "${{ runner.temp }}" gmp
          # Package MPFR (release).
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\mpfr\Release"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\mpfr\${{ env.MPFR_VERSION }}\Release\x86_64\include" -Destination "${{ runner.temp }}\mpfr\Release\include"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\mpfr\${{ env.MPFR_VERSION }}\Release\x86_64\lib" -Destination "${{ runner.temp }}\mpfr\Release\lib"
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\mpfr\Release\lib\cmake\mpfr"
          Copy-Item -Path "${{ runner.temp }}\mpfr_cmake_release\*.cmake" -Destination "${{ runner.temp }}\mpfr\Release\lib\cmake\mpfr"
          sed -i 's|set(mpfr_PACKAGE_FOLDER_RELEASE ".*")|set(mpfr_PACKAGE_FOLDER_RELEASE "${CMAKE_CURRENT_LIST_DIR}/../../..")|' ${{ runner.temp }}/mpfr/Release/lib/cmake/mpfr/mpfr-release-x86_64-data.cmake
          sed -i 's|set(mpfr_LIBRARIES_RELEASE mpfr::mpfr)|set(mpfr_LIBRARIES_RELEASE ${mpfr_mpfr_libmpfr_LIB_DIRS_RELEASE}/mpfr.lib)|' ${{ runner.temp }}/mpfr/Release/lib/cmake/mpfr/mpfr-Target-release.cmake
          # Package MPFR (debug).
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\mpfr\Debug"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\mpfr\${{ env.MPFR_VERSION }}\Debug\x86_64\include" -Destination "${{ runner.temp }}\mpfr\Debug\include"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\mpfr\${{ env.MPFR_VERSION }}\Debug\x86_64\lib" -Destination "${{ runner.temp }}\mpfr\Debug\lib"
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\mpfr\Debug\lib\cmake\mpfr"
          Copy-Item -Path "${{ runner.temp }}\mpfr_cmake_debug\*.cmake" -Destination "${{ runner.temp }}\mpfr\Debug\lib\cmake\mpfr"
          sed -i 's|set(mpfr_PACKAGE_FOLDER_DEBUG ".*")|set(mpfr_PACKAGE_FOLDER_DEBUG "${CMAKE_CURRENT_LIST_DIR}/../../..")|' ${{ runner.temp }}/mpfr/Debug/lib/cmake/mpfr/mpfr-debug-x86_64-data.cmake
          sed -i 's|set(mpfr_LIBRARIES_DEBUG mpfr::mpfr)|set(mpfr_LIBRARIES_DEBUG ${mpfr_mpfr_libmpfr_LIB_DIRS_DEBUG}/mpfr.lib)|' ${{ runner.temp }}/mpfr/Debug/lib/cmake/mpfr/mpfr-Target-debug.cmake
          # Effectively package MPFR.
          tar -czf "${{ runner.temp }}/mpfr-${{ matrix.archive_name }}.tar.gz" -C "${{ runner.temp }}" mpfr
          # Package SymEngine (release).
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\symengine\Release"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\symengine\${{ env.SYMENGINE_VERSION }}\Release\x86_64\bin" -Destination "${{ runner.temp }}\symengine\Release\bin"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\symengine\${{ env.SYMENGINE_VERSION }}\Release\x86_64\include" -Destination "${{ runner.temp }}\symengine\Release\include"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_release\full_deploy\host\symengine\${{ env.SYMENGINE_VERSION }}\Release\x86_64\lib" -Destination "${{ runner.temp }}\symengine\Release\lib"
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\symengine\Release\lib\cmake\symengine"
          Copy-Item -Path "${{ runner.temp }}\symengine_cmake_release\c*.cmake","${{ runner.temp }}\symengine_cmake_release\symengine*.cmake" -Destination "${{ runner.temp }}\symengine\Release\lib\cmake\symengine"
          sed -i 's|set(symengine_PACKAGE_FOLDER_RELEASE ".*")|set(symengine_PACKAGE_FOLDER_RELEASE "${CMAKE_CURRENT_LIST_DIR}/../../..")|' ${{ runner.temp }}/symengine/Release/lib/cmake/symengine/symengine-release-x86_64-data.cmake
          sed -i 's|set(symengine_LIBRARIES_RELEASE symengine)|set(symengine_LIBRARIES_RELEASE ${symengine_LIB_DIRS_RELEASE}/symengine.lib)|' ${{ runner.temp }}/symengine/Release/lib/cmake/symengine/symengine-Target-release.cmake
          # Package SymEngine (debug).
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\symengine\Debug"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\symengine\${{ env.SYMENGINE_VERSION }}\Debug\x86_64\bin" -Destination "${{ runner.temp }}\symengine\Debug\bin"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\symengine\${{ env.SYMENGINE_VERSION }}\Debug\x86_64\include" -Destination "${{ runner.temp }}\symengine\Debug\include"
          Copy-Item -Recurse -Path "${{ runner.temp }}\symengine_full_deploy_debug\full_deploy\host\symengine\${{ env.SYMENGINE_VERSION }}\Debug\x86_64\lib" -Destination "${{ runner.temp }}\symengine\Debug\lib"
          New-Item -ItemType Directory -Force -Path "${{ runner.temp }}\symengine\Debug\lib\cmake\symengine"
          Copy-Item -Path "${{ runner.temp }}\symengine_cmake_debug\c*.cmake","${{ runner.temp }}\symengine_cmake_debug\symengine*.cmake" -Destination "${{ runner.temp }}\symengine\Debug\lib\cmake\symengine"
          sed -i 's|set(symengine_PACKAGE_FOLDER_DEBUG ".*")|set(symengine_PACKAGE_FOLDER_DEBUG "${CMAKE_CURRENT_LIST_DIR}/../../..")|' ${{ runner.temp }}/symengine/Debug/lib/cmake/symengine/symengine-debug-x86_64-data.cmake
          sed -i 's|set(symengine_LIBRARIES_DEBUG symengine)|set(symengine_LIBRARIES_DEBUG ${symengine_LIB_DIRS_DEBUG}/symengine.lib)|' ${{ runner.temp }}/symengine/Debug/lib/cmake/symengine/symengine-Target-debug.cmake
          # Effectively package SymEngine.
          tar -czf "${{ runner.temp }}/symengine-${{ matrix.archive_name }}.tar.gz" -C "${{ runner.temp }}" symengine
      - name: Build and archive GMP (Linux/macOS/WASM)
        if: ${{ runner.os != 'Windows' }}
        run: |
          curl -Lo gmp.tar.xz https://ftp.gnu.org/gnu/gmp/gmp-${{ env.GMP_VERSION }}.tar.xz
          tar -xf gmp.tar.xz
          cd gmp-${{ env.GMP_VERSION }}
          ${{ matrix.emconfigure }} ./configure --prefix=${{ runner.temp }}/gmp --enable-cxx --disable-shared --disable-assembly HOST_CC=clang CFLAGS=-fPIC
          ${{ matrix.emmake }} make -j$(nproc 2>/dev/null || sysctl -n hw.ncpu 2>/dev/null || echo 4)
          ${{ matrix.emmake }} make install
          tar -czf ${{ runner.temp }}/gmp-${{ matrix.archive_name }}.tar.gz -C ${{ runner.temp }} gmp
      - name: Build and archive MPFR (Linux/macOS/WASM)
        if: ${{ runner.os != 'Windows' }}
        run: |
          curl -Lo mpfr.tar.xz https://www.mpfr.org/mpfr-${{ env.MPFR_VERSION }}/mpfr-${{ env.MPFR_VERSION }}.tar.xz
          tar -xf mpfr.tar.xz
          cd mpfr-${{ env.MPFR_VERSION }}
          ${{ matrix.emconfigure }} ./configure --prefix=${{ runner.temp }}/mpfr --with-gmp=${{ runner.temp }}/gmp --disable-shared CFLAGS=-fPIC
          ${{ matrix.emmake }} make -j$(nproc 2>/dev/null || sysctl -n hw.ncpu 2>/dev/null || echo 4)
          ${{ matrix.emmake }} make install
          tar -czf ${{ runner.temp }}/mpfr-${{ matrix.archive_name }}.tar.gz -C ${{ runner.temp }} mpfr
      - name: Build and archive SymEngine (Linux/macOS/WASM)
        if: ${{ runner.os != 'Windows' }}
        run: |
          git clone -b v${{ env.SYMENGINE_VERSION }} --depth 1 https://github.com/symengine/symengine.git
          cd symengine
          ${{ matrix.emcmake }} cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{ runner.temp }}/symengine -DBUILD_BENCHMARKS=OFF -DBUILD_TESTS=OFF -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }} -DGMP_INCLUDE_DIR=${{ runner.temp }}/gmp/include -DGMP_LIBRARY=${{ runner.temp }}/gmp/lib/libgmp.a -DMPFR_INCLUDE_DIR=${{ runner.temp }}/mpfr/include -DMPFR_LIBRARY=${{ runner.temp }}/mpfr/lib/libmpfr.a -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
          cmake --build build
          cmake --install build
      - name: Patch SymEngine (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: |
          sed -i 's|set(SYMENGINE_GMP_LIBRARIES /home/runner/work/_temp/gmp/lib/libgmp.a)|set(SYMENGINE_GMP_LIBRARIES ${SYMENGINE_CMAKE_DIR}/../../../../gmp/lib/libgmp.a)|' ${{ runner.temp }}/symengine/lib/cmake/symengine/SymEngineConfig.cmake
          sed -i 's|set(SYMENGINE_GMP_INCLUDE_DIRS /home/runner/work/_temp/gmp/include)|set(SYMENGINE_GMP_INCLUDE_DIRS ${SYMENGINE_CMAKE_DIR}/../../../../gmp/include)|' ${{ runner.temp }}/symengine/lib/cmake/symengine/SymEngineConfig.cmake
      - name: Patch SymEngine (macOS/WASM)
        if: ${{ runner.os == 'macOS' }}
        run: |
          sed -i '' 's|set(SYMENGINE_GMP_LIBRARIES /Users/runner/work/_temp/gmp/lib/libgmp.a)|set(SYMENGINE_GMP_LIBRARIES ${SYMENGINE_CMAKE_DIR}/../../../../gmp/lib/libgmp.a)|' ${{ runner.temp }}/symengine/lib/cmake/symengine/SymEngineConfig.cmake
          sed -i '' 's|set(SYMENGINE_GMP_INCLUDE_DIRS /Users/runner/work/_temp/gmp/include)|set(SYMENGINE_GMP_INCLUDE_DIRS ${SYMENGINE_CMAKE_DIR}/../../../../gmp/include)|' ${{ runner.temp }}/symengine/lib/cmake/symengine/SymEngineConfig.cmake
      - name: Archive SymEngine (Linux/macOS/WASM)
        if: ${{ runner.os != 'Windows' }}
        run: tar -czf ${{ runner.temp }}/symengine-${{ matrix.archive_name }}.tar.gz -C ${{ runner.temp }} symengine
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: ${{ runner.temp }}/*.tar.gz
      - name: Release zlib, libxml2, GMP, MPFR, and SymEngine
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ runner.temp }}/*.tar.gz
          tag_name: gha
